<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div id="app">
	<h1 v-if="gender == 'male' || gender == 'female'">Hello,
	<span v-show="gender == 'male'">Mister {{name}}</span>
	<span v-show="gender == 'female'">Miss {{name}}</span>
	</h1>
	<h1 v-else="gender">Can't decide</h1>	


	<form action="#">
		<label for="#">Enter your gender:</label>
		<input type="text" v-model="gender" />
		<label for="#">Enter your name:</label>
		<input type="text" v-model="name" />
	</form>
</div>
	<script src="http://vuejs.org/js/vue.js"></script>
	<script>
		new Vue({
			el:'#app',
			data:{
				gender:'female',
				name:'Universe'
			}
		})	
	</script>
</body>
</html>